<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Spotify App</title>

</head>
<body>
<div class="container bg-light shadow p-0 h-100">
    
    <div class="title">
        <h4>Spotify</h4>
        <h3>Playlist Refresher</h3>
    </div>
    <!--<p class="description">This app allows you to make a copy of your favorite playlist where every track is replaced with another song by the same artist. Same vibe, new songs!</p> -->
    <div class="main">
        <h4 id="welcome">Greetings!</h4>
        <p>This app will make a copy of your favorite spotify playlist where every track is replaced with a different track by the same artist. Same artists, new songs.</p>
        <p>Sign in with Spotify to get started!</p>
        <div class="signinButton">
            <button class="btn shadow">
                <a href="/login">Sign In with Spotify</a>
            </button>
        </div>
        
    </div>
    
</div>
    
</div>
</body>
</html>